/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ;
}

.contact-us {
  min-height: 100vh;
  width: 100%;
  background-image: url("/vid/assets/img/contact.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.contact-us {
  max-width: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  position: relative;

}

.contact-us .contactus1 {
  display: flex;
  justify-content: space-between;
}

.contact-us .contactus1 .left-side {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contactus1 .left-side::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
}

.contactus1 .left-side .details {
  margin: 14px;
  text-align: center;
}

.contactus1 .left-side .details i {
  font-size: 30px;
  color: #07928a;
  margin-bottom: 10px;
}

.contactus1 .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.contactus1 .left-side .details .text-one,
.contactus1 .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.contact-us .contactus1 .right-side {
  width: 40%;
  margin-left: 60px;
}

.contactus1 .right-side .topic-text,
.contactus1 .left-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #07928a;
}

.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

.right-side .btn-contactus input[type="button"] {
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  background: #07928a;
  cursor: pointer;
  transition: all 0.3s ease;
}


.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .btn-contactus {
  display: block;
  margin-top: 12px;
  text-align: right;
  margin-top: 40px;
}

.right-side .btn-contactus input[type="button"] {
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  background: #07928a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-contactus input[type="button"]:hover {
  background: #07928a;
}

@media (max-width: 950px) {
  .contact-us {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .contact-us .contactus1 .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .contact-us {
    margin: 40px 0;
    height: 100%;
  }

  .contact-us .contactus1 {
    flex-direction: column-reverse;
  }

  .contact-us .contactus1 .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-us .contactus1 .left-side::before {
    display: none;
  }

  .contact-us .contactus1 .right-side {
    width: 100%;
    margin-left: 0;
  }
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.cont-form {
  box-shadow: 0px 0px 4px 2px #eee;
  border-radius: 4px;
  padding: 30px;
}

.cont-form input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #07928a;
}

.cont-form textarea:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #07928a;
}

/* /// */